# .coveragerc to control coverage.py
[run]
branch = True
command_line = testing.py
concurrency = multiprocessing
omit = testing.py
parallel = True

[report]
omit = testing.py
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain critical error handling
    except
    def quit_gracefully

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:
